Repository just-a-paw/language, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MrGriefs, @FurieFox, @dreibliarfox, @lesslih

better meta
  en-lolcat/commands.json
  en-lolcat/meta.json
Owners: none

feat(en-lol): add translation (#24)
  .scripts/test.js
  .scripts/update-readmes.js
  .vscode/settings.json
  en-GB/meta.json
  en-lolcat/commands.json
  en-lolcat/core.json
  en-lolcat/features.json
  en-lolcat/locale.json
  en-lolcat/meta.json
  en-lolcat/words.json
  locale.schema.json
  meta.schema.json
  schema.json
  util.js
Owners: @MrGriefs

chore: 🤖 update readme
  AGGREGATE.md
  es-ES/README.md
  fr/README.md
  pl/README.md
  ro/README.md
  sv-SE/README.md
  zh-CN/README.md
Owners: @FurieFox, @dreibliarfox, @lesslih

chore(fix): unchanged glob patterns
  .github/workflows/update_locale.yml
  .github/workflows/update_readmes.yml
Owners: none

chore(fix): unchanged glob patterns
  .github/workflows/update_locale.yml
  .github/workflows/update_readmes.yml
Owners: none

chore: 🤖 update readme
  en-lolcat/README.md
Owners: none

.github/CODEOWNERS:

# This file is generated.
# Add yourself to the "locale.contributors" array instead.

/en-GB/ @MrGriefs
/fr/    @FurieFox
/pl/    @dreibliarfox
/sv-SE/ @lesslih
